Makefile.in
Makefile
.deps
*.swp
autom4te.cache/
config.*
m4/[b-z]*.m4
aclocal.m4
ar-lib
configure
depcomp
install-sh
libstatgrab.pc
libtool
ltmain.sh
missing
src/libstatgrab/statgrab.h
src/statgrab/statgrab-make-mrtg-config
src/statgrab/statgrab-make-mrtg-index
stamp-h1
INSTALL
*.o
*.lo
